################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ber
/bin/x64/Debug
/tmp/x64/Debug
*.user
/.vs/libber/v15
/x64/Debug
